**/.DS_Store
*.bu
*.swp
.bashrc.extra
.config/asciinema/
.config/binwalk/
.config/chrome-*
.config/gh/
.config/github-copilot/
.config/gtk-2.0/
.config/i3/*.log
.config/iterm2/
.config/katana/
.config/mapcidr/
.config/op/
.config/proxify/
.config/shodan/
.config/tlsx/
.config/wireshark/
.env
.finicky.js
.local/bin/
.local/share/
.local/state/
.ssh/
notes.txt
setup.md
