# Set readline to Vi mode.
set editing-mode vi
set keyseq-timeout 0.1

# Enable mode strings. Note: vi-*-mode-string requires Bash >= v4.4.
# - Insert mode:  Blinking bar   (5)
# - Command mode: Blinking block (1)
# - https://www.gnu.org/software/bash/manual/html_node/Readline-Init-File-Syntax.html#index-vi_002dcmd_002dmode_002dstring
# - https://invisible-island.net/xterm/ctlseqs/ctlseqs.html#h4-Functions-using-CSI-_-ordered-by-the-final-character-lparen-s-rparen:CSI-Ps-SP-q.1D81
set show-mode-in-prompt on
set vi-ins-mode-string \1\e[5 q\2
set vi-cmd-mode-string \1\e[1 q\2

# Ctrl+L clears screen in both modes.
set keymap vi-command
Control-l: clear-screen
set keymap vi-insert
Control-l: clear-screen

# Color files by types.
set colored-stats On
# Append char to indicate type.
set visible-stats On
# Mark symlinked directories.
set mark-symlinked-directories On
# Color the common prefix.
set colored-completion-prefix On
# Color the common prefix in menu-complete.
set menu-complete-display-prefix On
